@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer base {
  :root {
    --primary-color: #f18c09;
  }

  html {
    box-sizing: border-box;
  }

  * {
    /* Resetting margin and padding */
    margin: 0;
    padding: 0;
    /* Initializing font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  /* custome scrollbar styles className = 'scroll-container' */
  /* Firefox */
  .scroll-container {
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Thumb and track */
  }

  /* WebKit (Chrome, Safari, Edge) */
  .scroll-container::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  .scroll-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  /* Optional: Prevent layout shift when scrollbar appears */
  .scroll-container {
    scrollbar-gutter: stable;
  }
}
