@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer base {
  html {
    box-sizing: border-box;
  }

  * {
    /* Resetting margin and padding */
    margin: 0;
    padding: 0;
    /* Initializing font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
}

@theme {
  --bottomBorderAnimation: bottomBorderExpand 2s ease-in-out linear;
  @keyframes bottomBorderExpand {
    0% 100% {
      width: 2px;
    }
  }
}
